<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Books from ejs</h1>
    <% if (books.length > 0) { %>
    <table border="2">
      <th>S.no</th>
      <th>name</th>
      <th>isbn</th>
      <th>author</th>
      <th>price</th>
      <th>Actions</th>
      <tr>
        <% books.forEach((book, index) => { %>
        <td><%= index + 1 %></td>
        <td><a href="/books/<%=book.id %>"><%= book.name %></a></td>
        <td><%= book.isbn %></td>
        <td><%= book.author %></td>
        <td><%= book.price %></td>
        <td>
          <button onclick="deleteBookById('<%=book.id %>')">Delete book</button>
        </td>
      </tr>
      <% }) %>
    </table>
    <% } else {%>
    <p>No books found</p>
    <% } %>
  </body>
  <script>
    async function deleteBookById(id) {
      await fetch(`/book/${id}`, {
        method: "DELETE",
      });
      window.location.reload();
    }
    // async function deleteBookById(id) {
    //   try {
    //     const response = await fetch(`/book/${id}`, {
    //       method: "DELETE",
    //     });
    //     if (!response.ok) {
    //       throw new Error("Network response was not ok");
    //     }
    //     window.location.reload();
    //   } catch (error) {
    //     console.error("There was a problem with the delete operation:", error);
    //   }
    // }
  </script>
</html>
